<div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <span class="titulo">LISTADO DE PRODUCTOS</span>
            <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
            <table class="table table-striped mt-3">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Categoría</th>
                  <th scope="col">Ubicación</th>
                  <th scope="col">Precio</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Teclado</td>
                  <td>Accesorios</td>
                  <td>Caja</td>
                  <td>40</td>
                  <td>
                    <i [routerLink]="['/editar-producto']" class="fas fa-edit text-primary"></i>
                    <i class="fas fa-trash text-danger"></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <h5 style="text-align: start; margin-top: 10px;">No hay productos para mostrar</h5>
          </div>
        </div>
      </div>
    </div>
</div>
  