<div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Crear Nueva Categoría</h3>
            <form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre" class="form-control" />
                <div *ngIf="categoriaForm.get('nombre')?.invalid && categoriaForm.get('nombre')?.touched" class="text-danger">
                  El nombre es obligatorio.
                </div>
              </div>
              <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" id="descripcion" formControlName="descripcion" class="form-control" />
                <div *ngIf="categoriaForm.get('descripcion')?.invalid && categoriaForm.get('descripcion')?.touched" class="text-danger">
                  La descripción es obligatoria.
                </div>
              </div>    
              <button type="submit" class="btn btn-primary" [disabled]="categoriaForm.invalid">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  